<nz-layout class="layout" style="height:100%">
  <nz-header>
    <div class="logo">
      <img src="..\..\favicon.ico">ProjectManager</div>
    <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" style="margin-bottom: 10px;">
      <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
      </i>
    </button>
    <nz-input class="input-s" [nzType]="'search'" [nzPlaceHolder]="'input search text'" style="width: 40%;padding-left:20px;"></nz-input>
    <!--[(ngModel)]="_value"-->
    <div class="fr">
      <nz-badge [nzCount]="5">
        <ng-template #content>
          <a routerLink="message">
            <i class="anticon anticon-mail message"></i>
          </a>
        </ng-template>
      </nz-badge>
      <button nz-button [nzType]="'primary'" style="margin-left:20px;" routerLink="/main/newProduct" (click)="addProduct()">
        <span>新建产品</span>
      </button>
      <a  (click)="logout()"><i class="anticon anticon-logout logout"></i></a>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="userProfile">
        <nz-avatar nzSize="large" nzText="U"></nz-avatar>
        <div class="info">
          <strong>{{userInfo.user_name}}</strong>
          <p class="text-truncate mb0">{{userInfo.email}}</p>
        </div>
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
        <li nz-submenu *ngIf="administrate.length">
          <span title routerLink="/main/list/{{admin_id}}">
            <i class="anticon anticon-laptop"></i>
            <span class="nav-text">管理项目</span>
          </span>
          <ul>
            <li nz-menu-item *ngFor="let product of administrate" 
            routerLink="detail/{{product.id}}" [queryParams]="{code:admin_id}">
              {{product.product_name}}</li>
          </ul>
        </li>
        <li nz-submenu *ngIf="develop.length">
          <span title routerLink="/main/list/{{dev_id}}">
            <i class="anticon anticon-code-o"></i>
            <span class="nav-text">开发项目</span>
          </span>
          <ul>
            <li nz-menu-item *ngFor="let product of develop" 
            routerLink="detail/{{product.id}}" [queryParams]="{code:dev_id}">
              {{product.product_name}}</li>
          </ul>
        </li>
        <li nz-submenu *ngIf="testing.length">
          <span title routerLink="/main/list/{{test_id}}">
            <i class="anticon anticon-exception"></i>
            <span class="nav-text">测试项目</span>
          </span>
          <ul>
            <li nz-menu-item *ngFor="let product of testing" 
            routerLink="detail/{{product.id}}" [queryParams]="{code:test_id}">
              {{product.product_name}}</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="margin:12px 0;padding:0 24px 24px">

      <nz-content style="padding: 24px; min-height: 280px;">
        <!-- <app-proj-list [productList]="administrate"></app-proj-list> -->
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>