
  <div class="p-list" >
    <!--ngif-->
    <nz-card class="card-list" [nzBordered]="false">
      <ng-template #title>
        荒野行动
      </ng-template>
      <ng-template #extra>
        <a routerLink="../detail/1">More</a>
      </ng-template>
      <ng-template #body>
        <p>平台</p>
        <p>操作系统</p>
        <p>当前版本</p>
      </ng-template>
    </nz-card>
    <nz-card class="card-list" [nzBordered]="false">
      <ng-template #title>
        绝地求生
      </ng-template>
      <ng-template #extra>
        <a routerLink="../detail/2">More</a>
      </ng-template>
      <ng-template #body>
        <p>平台</p>
        <p>操作系统</p>
        <p>当前版本</p>
      </ng-template>
    </nz-card>
    <div class="pagin"><nz-pagination [nzPageIndex]="1" [nzTotal]="500"></nz-pagination></div>
  </div>

