<div class="p-list" id="top" #ttop>
  <!--ngif-->
  <nz-card class="card-list" [nzBordered]="false" *ngFor="let product of productList">
    <ng-template #title>
      {{product.product_name}}
    </ng-template>
    <ng-template #extra>
       <a routerLink="../../detail/{{product.id}}">More</a> <!--[queryParams]="{code:routerId}" -->
    </ng-template>
    <ng-template #body>
      <table>
        <tbody>
          <tr>
            <td class="cell" align="right">
              <strong>项目管理员：</strong>
            </td>
            <td class="cell" align="left">{{product.admin_name}}</td>
          </tr>
          <tr>
            <td class="cell" align="right">
              <strong>当前版本：</strong>
            </td>
            <td class="cell" align="left">{{product.version}}</td>
          </tr>
          <tr>
            <td class="cell" align="right">
              <strong>操作系统：</strong>
            </td>
            <td class="cell" align="left">{{product.system}}</td>
          </tr>
          <tr>
            <td class="cell" align="right" style="width:20%">
              <strong>平台：</strong>
            </td>
            <td class="cell" align="left">{{product.platform}}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </nz-card>
  <nz-back-top [nzTarget]="ttop" [nzVisibilityHeight]="10"></nz-back-top>
</div>