.userProfile {
  padding: 10px 0;
  vertical-align: middle;
}

.userProfile .info {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.userProfile .info strong {
  font-size: 1.4em;
}

.member {
  width: 250px;
  margin-bottom: 20px;
}

.mem-title {
  font-size: 20px;
  padding: 20px 0;
}

.version {
  padding: 10px;
  height: 300px;
}

.ver-card {
  padding-bottom: 30px;
  /* border-bottom: 1px solid rgba(199, 199, 199, 0.5); */
}
.mem-card{
      border-bottom: 1px solid rgb(228, 228, 228); 
}
.ver-span {
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 0.8em;
  background-color: rgb(58, 58, 248);
  color: white;
}
.fr{
  float: right;
  margin-left: 5px;
}
.ver-card div {
  font-size: 1.3em;
  padding: 0 5px 10px 5px;
}
.r-title{
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 5px;
}
.text {
  padding: 5px 0;
  height: 300px;
  white-Space: normal;
  overflow-y: auto;
  text-indent: 2em;
}
