<div style="background-color:#fff;padding:10px;">
  <h1>title id:{{id}}</h1>
  <nz-tabset>
    <nz-tab>
      <ng-template #nzTabHeading>
        成员
      </ng-template>
      <div>
        <div class="mem-card">
          <div class="mem-title">项目管理者</div>
          <nz-card class="member">
            <ng-template #body>
              <div class="userProfile">
                <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                <div class="info">
                  <strong>user name</strong>
                  <p class="text-truncate mb0">user email</p>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
        <div class="mem-card">
          <div class="mem-title">项目开发者</div>
          <div nz-row [nzGutter]="8">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
          </div>
        </div>
        <div class="mem-card">
          <div class="mem-title">项目测试员</div>
          <div nz-row [nzGutter]="8">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
              <nz-card class="member">
                <ng-template #body>
                  <div class="userProfile">
                    <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                    <div class="info">
                      <strong>user name</strong>
                      <p class="text-truncate mb0">user email</p>
                    </div>
                  </div>
                </ng-template>
              </nz-card>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        版本控制
      </ng-template>
      <div class="version">
        <div>
          <span>版本控制 of id:{{id}}</span>
          <nz-steps [(nzCurrent)]="current">
            <nz-step [nzTitle]="'资源包上传'" [nzDescription]="'date 已上传'"></nz-step>
            <nz-step [nzTitle]="'测试'" [nzDescription]="'date 已测试'"></nz-step>
            <nz-step [nzTitle]="'审核'" [nzDescription]="'date 审核通过'"></nz-step>
            <nz-step [nzTitle]="'发布'" [nzDescription]="'date 已发布'"></nz-step>
          </nz-steps>
        </div>
        <div>
            <span>版本控制 of id:{{id}}</span>
            <nz-steps [(nzCurrent)]="current">
              <nz-step [nzTitle]="'资源包上传'" [nzDescription]="'date 已上传'"></nz-step>
              <nz-step [nzTitle]="'测试'" [nzDescription]="'date 已测试'"></nz-step>
              <nz-step [nzTitle]="'审核'" [nzDescription]="'date 审核通过'"></nz-step>
              <nz-step [nzTitle]="'发布'" [nzDescription]="'date 已发布'"></nz-step>
            </nz-steps>
          </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        审核
      </ng-template>
      <span>审核 of id:{{id}}</span>
      <div class="review">
        <h2>审核版本{{id}}</h2>
        <div class="report">
          <div class="auth">

          </div>
          <div class="text">

          </div>
        </div>
        <nz-pagination [nzPageSize]="1" [nzPageIndex]="1" [nzTotal]="15"></nz-pagination>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<router-outlet></router-outlet>