<div style="background-color:#fff;padding:20px;">
  <h1>
    <span *ngIf="!edit_statu">{{detail.product_name}}</span>
    <span *ngIf="edit_statu">
      <nz-input [(ngModel)]="tempEditName" style="width:40%"></nz-input>
    </span>
    <span *ngIf="!edit_statu" style="font-size:0.8em;">
      <a (click)="edit()">
        <i class="anticon anticon-edit"></i>
      </a>
    </span>
  </h1>
  <span *ngIf="edit_statu">
    <nz-popconfirm [nzTitle]="'Sure to cancel?'" (nzOnConfirm)="save()">
      <a nz-popconfirm>Save</a>
    </nz-popconfirm>
    <span nz-table-divider></span>
    <a (click)="cancel()">Cancel</a>
  </span>
  <nz-tabset>
    <nz-tab>
      <ng-template #nzTabHeading>
        详情
      </ng-template>
      <table>
        <tbody>
          <tr>
            <td class="cell" align="right">
              <strong>项目管理员：</strong>
            </td>
            <td class="cell" align="left">{{detail.admin.user_name}}</td>
          </tr>
          <tr>
            <td class="cell" align="right">
              <strong>当前版本：</strong>
            </td>
            <td class="cell" align="left">{{versionCur.version}}</td>
          </tr>
          <tr>
            <td class="cell" align="right">
              <strong>操作系统：</strong>
            </td>
            <td class="cell" align="left">{{detail.OS}}</td>
          </tr>
          <tr>
            <td class="cell" align="right" style="width:20%">
              <strong>平台：</strong>
            </td>
            <td class="cell" align="left">{{detail.platform}}</td>
          </tr>
        </tbody>
      </table>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        成员
      </ng-template>
      <div>
        <div class="mem-card">
          <div class="mem-title">项目管理者
            <button nz-button [nzType]="'primary'" class="fr" disabled (click)="showModalForTemplate(title, content, footer)">
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
          </div>
          <nz-card class="member">
            <ng-template #body>
              <div class="userProfile">
                <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                <div class="info">
                  <strong>{{admin.user_name}}</strong>
                  <p class="text-truncate mb0">{{admin.email}}</p>
                </div>
              </div>
            </ng-template>
          </nz-card>
        </div>
        <div class="mem-card">
          <div class="mem-title">项目开发者
            <button nz-button [nzType]="'primary'" class="fr" 
            (click)="showModalForTemplate(title, content, footer,dev_template)">
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
          </div>
          <div nz-row [nzGutter]="8">
            <div *ngFor="let user of devMem">
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
                <nz-card class="member">
                  <ng-template #body>
                    <div class="userProfile">
                      <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                      <div class="info">
                        <strong>{{user.user_name}}</strong>
                        <p class="text-truncate mb0">{{user.email}}</p>
                      </div>
                    </div>
                  </ng-template>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
        <div class="mem-card">
          <div class="mem-title">项目测试员
            <button nz-button [nzType]="'primary'" class="fr" 
            (click)="showModalForTemplate(title, content, footer,test_template)">
              <i class="anticon anticon-edit"></i>
              <span>编辑</span>
            </button>
          </div>
          <div nz-row [nzGutter]="8">
            <div *ngFor="let user of testMem">
              <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" [nzXl]="6">
                <nz-card class="member">
                  <ng-template #body>
                    <div class="userProfile">
                      <nz-avatar nzSize="large" nzText="U"></nz-avatar>
                      <div class="info">
                        <strong>{{user.user_name}}</strong>
                        <p class="text-truncate mb0">{{user.email}}</p>
                      </div>
                    </div>
                  </ng-template>
                </nz-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        版本控制
      </ng-template>
      <div class="version">

        <div style="margin-bottom:15px;">
          <button nz-button [nzType]="'primary'" [nzSize]="size" (click)="newVersion()">
            <i class="anticon anticon-upload"></i>
            <span>新建版本</span>
          </button>
          <button nz-button [nzType]="'danger'" [nzSize]="size">
            <i class="anticon anticon-reload"></i>
            <span>回退一个版本</span>
          </button>
        </div>
        <div class="ver-card">
          <div>开发版本
            <span class="ver-span">v{{versionDev.version}}</span>
          </div>
          <nz-steps [(nzCurrent)]="cur_dev" [nzStatus]="dev_statu">
            <nz-step [nzTitle]="'资源包上传'" [nzDescription]="'date 已上传'"></nz-step>
            <nz-step [nzTitle]="'测试'" [nzDescription]="'date 已测试'"></nz-step>
            <nz-step [nzTitle]="'审核'" [nzDescription]="'date 审核通过'"></nz-step>
            <nz-step [nzTitle]="'发布'" [nzDescription]="'date 已发布'"></nz-step>
          </nz-steps>
        </div>
        <div class="ver-card">
          <div>发布版本
            <span class="ver-span">v{{versionCur.version}}</span>
          </div>
          <nz-steps [(nzCurrent)]="cur_cur" [nzStatus]="cur_statu">
            <nz-step [nzTitle]="'资源包上传'" [nzDescription]="'date 已上传'"></nz-step>
            <nz-step [nzTitle]="'测试'" [nzDescription]="'date 已测试'"></nz-step>
            <nz-step [nzTitle]="'审核'" [nzDescription]="'date 审核通过'"></nz-step>
            <nz-step [nzTitle]="'发布'" [nzDescription]="'date 已发布'"></nz-step>
          </nz-steps>
        </div>
      </div>
    </nz-tab>
    <nz-tab>
      <ng-template #nzTabHeading>
        审核
      </ng-template>
      <div class="review">
        <h2>审核版本
          <span class="ver-span">v{{versionDev.version}}</span>
          <div class="fr">
            <nz-button-group>
              <button nz-button [nzType]="'primary'" [nzSize]="size" (click)="reviewSuccess()">
                <i class="anticon anticon-check-circle"></i>
                <span>审核通过</span>
              </button>
              <button nz-button [nzType]="'danger'" [nzSize]="size" (click)="reviewFailed()">
                <i class="anticon anticon-close-circle"></i>
                <span>审核不通过</span>
              </button>
            </nz-button-group>
          </div>
        </h2>
        <div class="report">
          <div class="r-title">
            <div class="userProfile">
              <nz-avatar nzSize="large" nzText="U"></nz-avatar>
              <div class="info">
                <strong>{{report[report_cur-1].user_name}}</strong>
                <p class="text-truncate mb0">{{report[report_cur-1].email}}</p>
              </div>
            </div>
            <p>提交日期：{{report[report_cur-1].submit_date}}</p>
          </div>
          <div class="text">
            {{report[report_cur-1].content}}
          </div>
        </div>
        <nz-collapseset [nzBordered]="false">
          <nz-collapse [nzTitle]="'编写回执'">
            <div style="margin-bottom: 16px;">
              <nz-input nzType="textarea" nzAutosize></nz-input>
              <!-- [(ngModel)]="inputValueTwo" -->

            </div>
            <button nz-button [nzType]="'primary'" [nzSize]="size">
              <span>Submit</span>
            </button>
          </nz-collapse>
        </nz-collapseset>
        <div style="margin-top: 16px;">
          <nz-pagination [nzPageSize]="1" [(nzPageIndex)]="report_cur" [nzTotal]="report.length"></nz-pagination>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
<ng-template #title>
  <span>{{template.title}}</span>
</ng-template>
<ng-template #content>
  <div>
    <nz-transfer
      [nzDataSource]="list"
      [nzTitles]="['用户列表', '项目成员']"
      (nzSelectChange)="select($event)"
      (nzChange)="change($event)">
  </nz-transfer>
  </div>
</ng-template>
<ng-template #footer>
  <div>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleOk($event)" [nzLoading]="isConfirmLoading">
      提 交
    </button>
  </div>
</ng-template>
<router-outlet></router-outlet>