<div>
  <ul>
    <li *ngFor="let msg of msgList">
      <nz-card style="width:100%; margin-bottom:20px;">
        <ng-template #title>
          {{msg.title}}
        </ng-template>
        <ng-template #extra>
          <button nz-button [nzType]="'primary'" [nzSize]="size" (click)="download(msg.downUrl)">
            <i class="anticon anticon-download"></i><span>下载最新版本</span>
          </button>
        </ng-template>
        <ng-template #body>
          <pre>{{msg.content}}</pre>
        </ng-template>
      </nz-card>
    </li>
    <li>
        <nz-card style="width:100%;">
          <ng-template #title>
            Card title
          </ng-template>
          <ng-template #extra>
            <button nz-button [nzType]="'primary'" [nzSize]="size">
              <i class="anticon anticon-download"></i><span>Download</span>
            </button>
          </ng-template>
          <ng-template #body>
            <p>Card content</p>
          </ng-template>
        </nz-card>
      </li>
  </ul>
</div>